body {
  background: #fff;
  margin-top: 40px;
}

.container {
  width: 1000px;
  margin: auto;
}

.tanx-header {
  margin-bottom: 20px;
}

#tanx-canvas {
  border: 1px solid #888;
}

#tanx-arena-json {
  font-size: 10px;
}